Aluno: Daniel dos Santos Silva, Turma: A.
Lista é um conjunto de dados ordenado.
Dicionário é um conjunto de dados do tipo par não ordenado, chave:valor.
Array numpy é uma tabela multidimensional homogenia, onde sua indexação é uma tupla positiva.
Series pandas é uma junção de um vetor rótulos (index) e um vetor de dados (onde esse vetor pode também ser um dicionário).

In [36]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(1,10,35))

In [37]:
#Questão 2
da = pd.DataFrame(np.reshape(ser.values, (7,5)))
print(da)

   0  1  2  3  4
0  5  5  2  7  2
1  5  8  2  6  6
2  1  9  2  7  2
3  8  3  6  6  9
4  4  4  7  3  3
5  9  2  3  5  8
6  1  6  7  5  4

In [38]:
#Questão 3
df = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv", usecols=['crim','medv'])
print(df.head(5))

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

In [39]:
#Questão 4
df2 = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df2.rename(columns={'Type':'CarType'}, inplace=True)
df2.rename(columns=lambda df2: df2.replace(".", "_"), inplace=True)

In [40]:
#Questão 5
print(df2.isnull())

    Manufacturer  Model  CarType  Min_Price  Price  Max_Price  MPG_city  \
0          False  False    False      False  False      False     False
1           True  False    False      False  False      False     False
2          False  False    False      False  False      False     False
3          False  False    False       True  False      False     False
4          False  False    False       True  False       True     False
..           ...    ...      ...        ...    ...        ...       ...
88         False  False    False      False  False      False     False
89         False  False    False      False  False      False     False
90         False  False    False      False  False      False     False
91         False  False    False      False  False      False     False
92          True  False    False      False  False      False     False

    MPG_highway  AirBags  DriveTrain  ...  Passengers  Length  Wheelbase  \
0         False    False       False  ...       False   False      False
1         False    False       False  ...       False   False      False
2         False    False       False  ...       False   False      False
3         False    False        True  ...       False   False      False
4         False     True       False  ...       False   False      False
..          ...      ...         ...  ...         ...     ...        ...
88        False    False       False  ...       False   False      False
89        False    False       False  ...       False   False      False
90        False    False       False  ...       False   False      False
91        False    False       False  ...       False   False      False
92        False    False       False  ...       False   False      False

    Width  Turn_circle  Rear_seat_room  Luggage_room  Weight  Origin   Make
0   False        False           False          True   False   False  False
1   False        False           False         False   False   False  False
2   False        False           False         False   False   False  False
3    True        False           False         False   False   False  False
4   False        False           False         False   False   False  False
..    ...          ...             ...           ...     ...     ...    ...
88  False        False           False          True   False    True  False
89  False        False           False         False   False   False  False
90  False        False           False         False   False   False  False
91  False        False           False         False   False   False  False
92  False        False           False         False   False   False  False

[93 rows x 27 columns]

In [42]:
#Questão 6
print(df2.isnull().sum())

Manufacturer           4
Model                  1
CarType                3
Min_Price              7
Price                  2
Max_Price              5
MPG_city               9
MPG_highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev_per_mile           6
Man_trans_avail        5
Fuel_tank_capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn_circle            5
Rear_seat_room         4
Luggage_room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

In [43]:
#Questão 7
df = pd.DataFrame(np.arange(20).reshape(-1,5), columns=list('abcde'))
print(df['a'].to_frame())

    a
0   0
1   5
2  10
3  15

In [44]:
#Questão 8.A
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

df = df[['c','b','a','d','e']]

In [45]:
#Questão 8.B e C
def trocaDeColunas(colunaUm, colunaDois, df):
    indexes = df.columns.values
    indexColunaUm = 0
    indexColunaDois = 0
    
    for i in range (0,len(indexes)):
        if (indexes[i] == colunaUm): indexColunaUm = i
        elif (indexes[i] == colunaDois): indexColunaDois = i
    
    [indexes[indexColunaUm], indexes[indexColunaDois]] = [indexes[indexColunaDois], indexes[indexColunaUm]]
    indexes = sorted(indexes,reverse=True)
    df = df[indexes]
    return df
trocaDeColunas('e','b',df)

    e   d   c   b   a
0   1   3   2   4   0
1   6   8   7   9   5
2  11  13  12  14  10
3  16  18  17  19  15

In [46]:
#Questão 9
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

pd.set_option("display.max_row", 10)
pd.set_option("display.max_columns", 10)

print(df)

   Manufacturer    Model     Type  Min.Price  Price  ...  Rear.seat.room  \
0         Acura  Integra    Small       12.9   15.9  ...            26.5
1           NaN   Legend  Midsize       29.2   33.9  ...            30.0
2          Audi       90  Compact       25.9   29.1  ...            28.0
3          Audi      100  Midsize        NaN   37.7  ...            31.0
4           BMW     535i  Midsize        NaN   30.0  ...            27.0
..          ...      ...      ...        ...    ...  ...             ...
88   Volkswagen  Eurovan      Van       16.6   19.7  ...            34.0
89   Volkswagen   Passat  Compact       17.6   20.0  ...            31.5
90   Volkswagen  Corrado   Sporty       22.9   23.3  ...            26.0
91        Volvo      240  Compact       21.8   22.7  ...            29.5
92          NaN      850  Midsize       24.8   26.7  ...            30.0

    Luggage.room  Weight   Origin                Make
0            NaN  2705.0  non-USA       Acura Integra
1           15.0  3560.0  non-USA        Acura Legend
2           14.0  3375.0  non-USA             Audi 90
3           17.0  3405.0  non-USA            Audi 100
4           13.0  3640.0  non-USA            BMW 535i
..           ...     ...      ...                 ...
88           NaN  3960.0      NaN  Volkswagen Eurovan
89          14.0  2985.0  non-USA   Volkswagen Passat
90          15.0  2810.0  non-USA  Volkswagen Corrado
91          14.0  2985.0  non-USA           Volvo 240
92          15.0  3245.0  non-USA           Volvo 850

[93 rows x 27 columns]

In [48]:
pd.reset_option("display.max_row")
pd.reset_option("display.max_columns")

In [49]:
#Questão 10
print(df[['Manufacturer', 'Model','Type']].head(20))

   Manufacturer       Model     Type
0         Acura     Integra    Small
1           NaN      Legend  Midsize
2          Audi          90  Compact
3          Audi         100  Midsize
4           BMW        535i  Midsize
5         Buick     Century  Midsize
6         Buick     LeSabre    Large
7         Buick  Roadmaster    Large
8         Buick     Riviera  Midsize
9      Cadillac     DeVille    Large
10     Cadillac     Seville  Midsize
11    Chevrolet    Cavalier  Compact
12    Chevrolet     Corsica  Compact
13    Chevrolet      Camaro   Sporty
14    Chevrolet      Lumina  Midsize
15    Chevrolet  Lumina_APV      Van
16    Chevrolet       Astro      Van
17    Chevrolet     Caprice    Large
18    Chevrolet    Corvette   Sporty
19          NaN    Concorde    Large

In [50]:
#Questão 11
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
quantidadeDeLinhasPrintadas = 0

for i in range(1, len(df)):
    if (df.iloc[-i].values.sum() > 100 and quantidadeDeLinhasPrintadas <= 1):
        quantidadeDeLinhasPrintadas += 1
        print(df.iloc[-1])

0    29
1    38
2    10
3    13
Name: 14, dtype: int32
0    29
1    38
2    10
3    13
Name: 14, dtype: int32

In [52]:
#Questão 12
df = pd.DataFrame(np.arange(25).reshape(5, -1))

aux = pd.DataFrame(df.loc[0])

df.loc[0] = df.loc[1]
df.loc[1] = aux[0]

df.index = [1,0,2,3,4]